@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.App {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: $dark;
    padding: map-get($spacers, 3);
}
